--
-- PostgreSQL database dump
--

-- Dumped from database version 15.4 (Debian 15.4-2.pgdg120+1)
-- Dumped by pg_dump version 15.4 (Debian 15.4-2.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: access_grants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.access_grants (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    owner_id uuid,
    recipient_email character varying(255) NOT NULL,
    recipient_user_id uuid,
    access_level character varying(50) NOT NULL,
    permissions jsonb DEFAULT '{}'::jsonb,
    granted_at timestamp with time zone DEFAULT now(),
    revoked_at timestamp with time zone,
    is_active boolean DEFAULT true
);


ALTER TABLE public.access_grants OWNER TO postgres;

--
-- Name: achievements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.achievements (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    icon character varying(100),
    points_reward integer DEFAULT 0,
    criteria jsonb NOT NULL,
    rarity character varying(50),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.achievements OWNER TO postgres;

--
-- Name: daily_prompts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.daily_prompts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    question text NOT NULL,
    category character varying(50),
    prompt_type character varying(50),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.daily_prompts OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    notification_type character varying(50),
    title character varying(255),
    message text,
    is_read boolean DEFAULT false,
    action_url character varying(500),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: persona_conversations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.persona_conversations (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    conversation_session_id uuid DEFAULT public.uuid_generate_v4(),
    user_message text NOT NULL,
    persona_response text NOT NULL,
    context_used jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.persona_conversations OWNER TO postgres;

--
-- Name: persona_embeddings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.persona_embeddings (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    content_type character varying(50),
    content_id uuid,
    content_text text,
    embedding public.vector(1536),
    metadata jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.persona_embeddings OWNER TO postgres;

--
-- Name: prompt_responses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prompt_responses (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    prompt_id uuid,
    prompt_text text NOT NULL,
    response_text text NOT NULL,
    response_type character varying(50) DEFAULT 'text'::character varying,
    audio_file_path character varying(1000),
    duration_seconds integer,
    follow_up_questions jsonb DEFAULT '[]'::jsonb,
    ai_analysis jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.prompt_responses OWNER TO postgres;

--
-- Name: prompts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.prompts (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title character varying(255) NOT NULL,
    question text NOT NULL,
    prompt_type character varying(50),
    category character varying(100),
    difficulty_level integer DEFAULT 1,
    tags jsonb DEFAULT '[]'::jsonb,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.prompts OWNER TO postgres;

--
-- Name: user_achievements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_achievements (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    achievement_id uuid,
    unlocked_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.user_achievements OWNER TO postgres;

--
-- Name: user_files; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_files (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    filename character varying(500) NOT NULL,
    file_path character varying(1000) NOT NULL,
    file_type character varying(100),
    file_size bigint,
    encryption_key character varying(500),
    metadata jsonb DEFAULT '{}'::jsonb,
    uploaded_at timestamp with time zone DEFAULT now(),
    processed boolean DEFAULT false
);


ALTER TABLE public.user_files OWNER TO postgres;

--
-- Name: user_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_profiles (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    birth_date date,
    birth_location character varying(255),
    life_events jsonb DEFAULT '[]'::jsonb,
    interests jsonb DEFAULT '[]'::jsonb,
    additional_info jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.user_profiles OWNER TO postgres;

--
-- Name: user_stats; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_stats (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    streak integer DEFAULT 0,
    longest_streak integer DEFAULT 0,
    points integer DEFAULT 0,
    total_responses integer DEFAULT 0,
    total_words_written integer DEFAULT 0,
    achievements jsonb DEFAULT '[]'::jsonb,
    badges jsonb DEFAULT '[]'::jsonb,
    last_response_date timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.user_stats OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(255),
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: access_grants; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.access_grants (id, owner_id, recipient_email, recipient_user_id, access_level, permissions, granted_at, revoked_at, is_active) FROM stdin;
\.


--
-- Data for Name: achievements; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: daily_prompts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, user_id, notification_type, title, message, is_read, action_url, created_at) FROM stdin;
\.


--
-- Data for Name: persona_conversations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.persona_conversations (id, user_id, conversation_session_id, user_message, persona_response, context_used, created_at) FROM stdin;
\.


--
-- Data for Name: persona_embeddings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.persona_embeddings (id, user_id, content_type, content_id, content_text, embedding, metadata, created_at) FROM stdin;
\.


--
-- Data for Name: prompt_responses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: prompts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_achievements; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_achievements (id, user_id, achievement_id, unlocked_at) FROM stdin;
\.


--
-- Data for Name: user_files; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_files (id, user_id, filename, file_path, file_type, file_size, encryption_key, metadata, uploaded_at, processed) FROM stdin;
\.


--
-- Data for Name: user_profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_stats; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_stats (id, user_id, streak, longest_streak, points, total_responses, total_words_written, achievements, badges, last_response_date, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, password_hash, full_name, created_at, updated_at) FROM stdin;
2a48a406-e750-4a8d-9eed-067bb3e5cc30	Test@test.com	$2a$10$6FcJqOQZY3JIJtuXg5ibneJOHSGOxQ6b2BL8iPhzacC3pnJVzvtkq	Test1	2026-01-16 00:04:29.114+00	2026-01-16 00:04:29.173564+00
276d0365-14dc-445c-9a1e-5c00ee7b2116	Test2@test2.com	$2a$10$Vdle8Z0MlQ0a/Pj5mS2JxuWIjAie6NnKpm/0r.424sadDuxpRfRn.	Test2	2026-01-17 04:17:29.406066+00	2026-01-17 04:17:29.406066+00
\.


--
-- Name: access_grants access_grants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.access_grants
    ADD CONSTRAINT access_grants_pkey PRIMARY KEY (id);


--
-- Name: achievements achievements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.achievements
    ADD CONSTRAINT achievements_pkey PRIMARY KEY (id);


--
-- Name: daily_prompts daily_prompts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_prompts
    ADD CONSTRAINT daily_prompts_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: persona_conversations persona_conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.persona_conversations
    ADD CONSTRAINT persona_conversations_pkey PRIMARY KEY (id);


--
-- Name: persona_embeddings persona_embeddings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.persona_embeddings
    ADD CONSTRAINT persona_embeddings_pkey PRIMARY KEY (id);


--
-- Name: prompt_responses prompt_responses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prompt_responses
    ADD CONSTRAINT prompt_responses_pkey PRIMARY KEY (id);


--
-- Name: prompts prompts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prompts
    ADD CONSTRAINT prompts_pkey PRIMARY KEY (id);


--
-- Name: user_achievements user_achievements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_achievements
    ADD CONSTRAINT user_achievements_pkey PRIMARY KEY (id);


--
-- Name: user_achievements user_achievements_user_id_achievement_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_achievements
    ADD CONSTRAINT user_achievements_user_id_achievement_id_key UNIQUE (user_id, achievement_id);


--
-- Name: user_files user_files_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_files
    ADD CONSTRAINT user_files_pkey PRIMARY KEY (id);


--
-- Name: user_profiles user_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_pkey PRIMARY KEY (id);


--
-- Name: user_profiles user_profiles_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_user_id_key UNIQUE (user_id);


--
-- Name: user_stats user_stats_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_stats
    ADD CONSTRAINT user_stats_pkey PRIMARY KEY (id);


--
-- Name: user_stats user_stats_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_stats
    ADD CONSTRAINT user_stats_user_id_key UNIQUE (user_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_access_grants_owner_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_access_grants_owner_id ON public.access_grants USING btree (owner_id);


--
-- Name: idx_access_grants_recipient_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_access_grants_recipient_email ON public.access_grants USING btree (recipient_email);


--
-- Name: idx_access_grants_recipient_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_access_grants_recipient_user_id ON public.access_grants USING btree (recipient_user_id);


--
-- Name: idx_notifications_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_created_at ON public.notifications USING btree (created_at DESC);


--
-- Name: idx_notifications_is_read; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_is_read ON public.notifications USING btree (is_read);


--
-- Name: idx_notifications_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_user_id ON public.notifications USING btree (user_id);


--
-- Name: idx_persona_conversations_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_persona_conversations_created_at ON public.persona_conversations USING btree (created_at DESC);


--
-- Name: idx_persona_conversations_session; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_persona_conversations_session ON public.persona_conversations USING btree (conversation_session_id);


--
-- Name: idx_persona_conversations_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_persona_conversations_user_id ON public.persona_conversations USING btree (user_id);


--
-- Name: idx_persona_embeddings_content_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_persona_embeddings_content_type ON public.persona_embeddings USING btree (content_type);


--
-- Name: idx_persona_embeddings_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_persona_embeddings_user_id ON public.persona_embeddings USING btree (user_id);


--
-- Name: idx_prompt_responses_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_prompt_responses_created_at ON public.prompt_responses USING btree (created_at DESC);


--
-- Name: idx_prompt_responses_prompt_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_prompt_responses_prompt_id ON public.prompt_responses USING btree (prompt_id);


--
-- Name: idx_prompt_responses_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_prompt_responses_user_id ON public.prompt_responses USING btree (user_id);


--
-- Name: idx_prompts_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_prompts_category ON public.prompts USING btree (category);


--
-- Name: idx_prompts_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_prompts_type ON public.prompts USING btree (prompt_type);


--
-- Name: idx_user_achievements_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_achievements_user_id ON public.user_achievements USING btree (user_id);


--
-- Name: idx_user_files_uploaded_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_files_uploaded_at ON public.user_files USING btree (uploaded_at DESC);


--
-- Name: idx_user_files_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_files_user_id ON public.user_files USING btree (user_id);


--
-- Name: idx_user_profiles_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_profiles_user_id ON public.user_profiles USING btree (user_id);


--
-- Name: idx_user_stats_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_user_stats_user_id ON public.user_stats USING btree (user_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: persona_embeddings_embedding_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX persona_embeddings_embedding_idx ON public.persona_embeddings USING ivfflat (embedding public.vector_cosine_ops);


--
-- Name: access_grants access_grants_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.access_grants
    ADD CONSTRAINT access_grants_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: access_grants access_grants_recipient_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.access_grants
    ADD CONSTRAINT access_grants_recipient_user_id_fkey FOREIGN KEY (recipient_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: persona_conversations persona_conversations_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.persona_conversations
    ADD CONSTRAINT persona_conversations_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: persona_embeddings persona_embeddings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.persona_embeddings
    ADD CONSTRAINT persona_embeddings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: prompt_responses prompt_responses_prompt_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prompt_responses
    ADD CONSTRAINT prompt_responses_prompt_id_fkey FOREIGN KEY (prompt_id) REFERENCES public.prompts(id);


--
-- Name: prompt_responses prompt_responses_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.prompt_responses
    ADD CONSTRAINT prompt_responses_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_achievements user_achievements_achievement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_achievements
    ADD CONSTRAINT user_achievements_achievement_id_fkey FOREIGN KEY (achievement_id) REFERENCES public.achievements(id) ON DELETE CASCADE;


--
-- Name: user_achievements user_achievements_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_achievements
    ADD CONSTRAINT user_achievements_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_files user_files_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_files
    ADD CONSTRAINT user_files_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_profiles user_profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_stats user_stats_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_stats
    ADD CONSTRAINT user_stats_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: access_grants; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.access_grants ENABLE ROW LEVEL SECURITY;

--
-- Name: notifications; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.notifications ENABLE ROW LEVEL SECURITY;

--
-- Name: persona_conversations; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.persona_conversations ENABLE ROW LEVEL SECURITY;

--
-- Name: persona_embeddings; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.persona_embeddings ENABLE ROW LEVEL SECURITY;

--
-- Name: prompt_responses; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.prompt_responses ENABLE ROW LEVEL SECURITY;

--
-- Name: user_achievements; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.user_achievements ENABLE ROW LEVEL SECURITY;

--
-- Name: user_files; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.user_files ENABLE ROW LEVEL SECURITY;

--
-- Name: user_profiles; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.user_profiles ENABLE ROW LEVEL SECURITY;

--
-- Name: user_stats; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.user_stats ENABLE ROW LEVEL SECURITY;

--
-- PostgreSQL database dump complete
--

